<td class="col-xs-3">{{movie.Title}}</td>
<td class="col-xs-5">{{movie.Description | limitTo:80}}</td>
<td class="col-xs-2">{{movie.Category.Name}}</td>
<td class="col-xs-2">
  <button class="btn" routerLink="/details/{{movie.Id}}"><i class="glyphicon glyphicon-eye-open"></i></button>
  <button class="btn btn-default" routerLink="/edit/{{movie.Id}}"><i class="glyphicon glyphicon-pencil"></i></button>
  <button class="btn btn-danger" (click)="onDelete(movie.Id)"><i class="glyphicon glyphicon-trash"></i></button>
</td>
